body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
}

.body-wrapper {
    width: calc(100% - 16px);
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding: 0 8px;

    &.mobile {
        max-width: 600px;
    }

    &.desktop {
        max-width: 1280px;
    }
}


.container-wrapper {
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	&.mobile {
        max-width: 400px;
    }

    &.desktop {
        max-width: 980px;
    }
}

.box-wrapper {
	background-color: #fcd5b5;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	&.mobile {
        max-width: 400px;
    }

    &.desktop {
        max-width: 980px;
    }
}

.box-wrapper h1 {
	margin-top: 0;
	font-size: 28px;

}

.box-wrapper form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-wrapper label {
	font-size: 14px;
	margin-top: 10px;
}

.box-wrapper input {
	width: 80%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.box-wrapper button {
	background-color: #a5d6a7;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.box-wrapper button:hover {
	background-color: #81c784;
}
