/* Root elems */
/* ------------------------------------------------- */

body {
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    background-color: var(--accent-900);
    font-family: 'Ubuntu', sans-serif;

    transition: background-color 0.3s;

}

.body-wrapper {
    width: calc(100% - 32px);
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    padding: 0 16px 16px 16px;

    &.mobile {
        max-width: 600px;
        padding: 60px 16px 16px 16px;
    }

    &.desktop {
        max-width: 1280px;
        /* padding: 70px 16px 16px 16px; */
        padding: 0 16px 16px 16px;
    }

    &.minimized {
        padding: 0 16px !important;
        justify-content: center;
    }
}

/* Shared */
/* ------------------------------------------------- */

.page-wrapper {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    gap: var(--gap-large);

}

.page-container {
    /* height: 100%;
    width: 100%; */

    max-width: 624px;
    max-height: 624px;

    flex: 1 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;             /* <= Change in pages */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-700);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radus-large);

    gap: var(--gap-meduim);             /* <= Change in pages */
    padding: var(--padding-medium);

}



/* Header */
/* ------------------------------------------------- */

header {
    position: fixed;

    width: calc(100% - 32px);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;

    background-color: var(--primary-900);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

    z-index: 10;

    &.mobile {
        height: 60px;
    }

    &.desktop {
        height: 70px;
    }

}

header h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--primary-contrast-900);

    text-shadow: 
        -1px -1px 0 var(--accent-black-900),
         1px -1px 0 var(--accent-black-900),
        -1px  1px 0 var(--accent-black-900),
         1px  1px 0 var(--accent-black-900);
}

header .header-action {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    gap: 16px;
}

header .header-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 16px;
}

/* Footer */
/* ------------------------------------------------- */

footer {
    height: 100vh;
    width: calc(100% - 32px);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    padding: 0 16px 16px 16px;
    gap: 64px;

    &.mobile {
        flex-direction: column;
        justify-content: center;
    }

    &.desktop {
        justify-content: space-between;
    }
}

footer .contact-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    flex: 1 1;
}

footer .contact-form-container #footerForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 16px;
}

.form-input-container { /* footer .contact-form-container #footerForm */
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
}

footer .social-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;

    flex: 1 1;
}

footer .social-container .social-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 16px;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--primary-900);

    text-shadow: 
        -1px -1px 0 var(--accent-black-900),
         1px -1px 0 var(--accent-black-900),
        -1px  1px 0 var(--accent-black-900),
         1px  1px 0 var(--accent-black-900);
}

footer h4 {
    color: var(--accent-contrast-900);
}

footer .contact-form-container #footerForm .form-input-container h4 {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
}

/* Game Page */
/* ------------------------------------------------- */

.game-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-700);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    gap: 32px;
    padding: 16px;
}

.game-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    padding: 16px;
}

#gameForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    
    gap: 24px;
}


.grid {
    display: grid;
    gap: 10px;
    margin: auto;
}

.grid input {
    height: 80px;
    width: 80px;

    border-radius: 8px;
    background-color: var(--accent-500);
    border: none;

    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
}

.correct {
    background-color: var(--primary-900) !important;
}

.misplaced {
    background-color: var(--warn-600) !important;
}

.incorrect {
    background-color: var(--accent-300) !important;
}

.grid input:disabled {
    background-color: var(--accent-300);
}

.game-action-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

/* Login */
/* ------------------------------------------------- */

.login-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    
    gap: 16px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    
    gap: 16px;
}

.login-form-container #loginForm .form-input-container h4 {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    color: var(--accent-contrast-900);
}

.login-form-container #loginForm p {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: var(--accent-contrast-900);

    a {
        padding-left: 4px;
    }
}

.login-form-container h2 {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: var(--accent-contrast-900);
}

/* SignUp */
/* ------------------------------------------------- */

.signup-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    
    gap: 16px;
}

#signupForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    
    gap: 16px;
}

.signup-form-container #signupForm .form-input-container h4 {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    color: var(--accent-contrast-900);
}

.signup-form-container #signupForm p {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: var(--accent-contrast-900);

    a {
        padding-left: 4px;
    }
}

.signup-form-container h2 {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: var(--accent-contrast-900);
}

/* HomePage */
/* ------------------------------------------------- */

.home-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    /* gap: */
}

.home-wrapper .into-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    gap: 32px;
}

.home-wrapper .into-container .grid-container {
    width: 100%;
    height: 100%;

    max-width: 400px;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--accent-700);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    gap: 16px;
    padding: 16px;
}

.home-wrapper .into-container .grid-container .grid-row {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

.home-wrapper .into-container .grid-container .grid-row .grid-item {
    width: 100%;
    height: 100%;

    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--accent-500);
    border-radius: 4px;
}

.home-wrapper .about-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;    

    gap: 32px;
}

.home-wrapper .about-container .about-section {
    width: 100%;
    height: 100%;

    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.about-container h2 {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    color: var(--accent-contrast-900);
}

.about-container h3 {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    color: var(--accent-contrast-900);
}

.home-wrapper .about-container .about-section {
    h4 {
        width: 100%;
        text-align: left;
        color: var(--accent-contrast-900);
    }

    ul {
        display: flex;
        flex-direction: column;

        gap: 8px;

        li {
            color: var(--accent-contrast-900);
        }
    }
}

/* UserPage */
/* ------------------------------------------------- */

.user-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    gap: 32px;
}

.user-wrapper .user-info-container {

    flex: 1 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    background-color: var(--accent-700);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    gap: 8px;
    padding: 16px;
}

.user-wrapper .user-games-container {
    flex: 1 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 16px;
    padding: 16px;
}

.user-games-container table th {
    padding: 16px 0;
}

.user-games-container table td {
    padding: 4px 0;
}

.user-wrapper .user-games-container .user-games-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
}

/* Game Settings */
/* ------------------------------------------------- */

.game-settings-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    gap: 32px;
}

.settings-container {
    /* width: 100%;
    height: 100%; */

    flex: 1 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-700);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    gap: 16px;
    padding: 16px;
}

#gameSetupForm {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 32px;
}

.select-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 16px;
}

.rules-container {
    /* width: 100%;
    height: 100%; */

    flex: 1 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-700);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    gap: 16px;
    padding: 16px;
}

.rules-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
}

.rules-list h4 {
    width: 100%;
    text-align: left;
}

/* Text */
/* ------------------------------------------------- */

h1, h2, h3, h4, h5, p, option, th, td {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {    /* Head Line */
    font-size: var(--h1-font-size-large);
}

h2 {    /* Large Title */
    font-size: var(--h2-font-size-large);
}

h3 {    /* Title */
    font-size: var(--h3-font-size-large);
}

h4 {    /* Text */
    font-size: var(--h4-font-size-large);
}

h5 {    /* Btn */
    font-size: var(--h5-font-size-large);
}

p {     /* Small text */
    font-size: var(--p-font-size-large);
}

th {
    font-size: var(--h4-font-size-large);
}

td {
    font-size: var(--h4-font-size-large);
}

/* Media queries */
@media (max-width: 1680px) {
    h1 {
        font-size: var(--h1-font-size-large) !important;
    }

    h2 {
        font-size: var(--h2-font-size-large) !important;
    }

    h3 {
        font-size: var(--h3-font-size-large) !important;
    }

    h4 {
        font-size: var(--h4-font-size-large) !important;
    }

    h5 {
        font-size: var(--h5-font-size-large) !important;
    }

    p {
        font-size: var(--p-font-size-large) !important;
    }

    th {
        font-size: var(--h4-font-size-large) !important;
    }

    td {
        font-size: var(--h4-font-size-large) !important;
    }
}

@media (max-width: 1280px) {
    h1 {
        font-size: var(--h1-font-size-medium) !important;
    }

    h2 {
        font-size: var(--h2-font-size-medium) !important;
    }

    h3 {
        font-size: var(--h3-font-size-medium) !important;
    }

    h4 {
        font-size: var(--h4-font-size-medium) !important;
    }

    h5 {
        font-size: var(--h5-font-size-medium) !important;
    }

    p {
        font-size: var(--p-font-size-medium) !important;
    }

    th {
        font-size: var(--h4-font-size-medium) !important;
    }

    td {
        font-size: var(--h4-font-size-medium) !important;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: var(--h1-font-size-small) !important;
    }

    h2 {
        font-size: var(--h2-font-size-small) !important;
    }

    h3 {
        font-size: var(--h3-font-size-small) !important;
    }

    h4 {
        font-size: var(--h4-font-size-small) !important;
    }

    h5 {
        font-size: var(--h5-font-size-small) !important;
    }

    p {
        font-size: var(--p-font-size-small) !important;
    }

    th {
        font-size: var(--h4-font-size-medium) !important;
    }

    td {
        font-size: var(--h4-font-size-small) !important;
    }
}

/* @media for classes */
/* ------------------------------------------------- */

@media (max-width: 1680px) {
    header {
        height: 70px !important;

        .header-navigation .btn-icon {
            display: none;
        }
    }

    .body-wrapper {
        /* padding: 70px 16px 16px 16px !important; */
    }

    .home-wrapper .into-container .grid-container {
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 1280px) {
    header {
        height: 60px !important;

        .header-navigation .btn-icon {
            display: none;
        }
    }

    .body-wrapper {
        /* padding: 60px 16px 16px 16px !important; */
    }

    .home-wrapper .into-container .grid-container {
        max-width: 350px;
        max-height: 350px;
    }
}

@media (max-width: 800px) {
    header {
        height: 60px !important;

        .header-navigation .btn-round {
            display: none;
        }

        .header-navigation .btn-icon {
            display: flex;
        }
    }

    .body-wrapper {
        padding: 60px 16px 16px 16px !important;
    }

    .page-wrapper {
        flex-direction: column;

        padding-top: var(--padding-medium) !important;
    }

    .page-container {
        width: calc(100% - 2 * var(--padding-medium));
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    .home-wrapper .into-container .grid-container {
        max-width: 300px;
        max-height: 300px;
    }
    
    .home-wrapper .about-container {
        flex-direction: column;

        gap: 32px;
    }

    .home-wrapper .about-container .about-section {
        align-items: flex-start;
    }

    .user-wrapper {
        flex-direction: column;
    }

    .game-settings-wrapper {
        flex-direction: column;
    }
}

/* Btns */
/* ------------------------------------------------- */

.btn-round {

    background-color: transparent;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    transition: transform 0.1s ease;

    &.small {
        height: 30px;
        width: 90px;
    }

    &.medium {
        height: 40px;
        width: 120px;
    }

    &.large {
        height: 50px;
        width: 150px;
    }

    &.primary {
        background-color: var(--primary-900) !important;
    }

    &.warn {
        background-color: var(--warn-900) !important;
    }

    &.accent {
        background-color: var(--accent-500) !important;
    }

    &:hover {
        transform: scale(110%);

        &.primary {
            background-color: var(--primary-700) !important;
        }

        &.warn {
            background-color: var(--warn-700) !important;
        }

        &.accent {
            background-color: var(--accent-400) !important;
        }
    }

    &:active {
        transform: scale(100%);
        border: solid 8px;

        &.primary {
            border-color: var(--primary-500) !important;
        }

        &.warn {
            border-color: var(--warn-500) !important;
        }

        &.accent {
            border-color: var(--accent-300) !important;
        }
    }
}

.btn-round h5 {
    color: var(--primary-contrast-900);

    /* text-shadow: 
        -1px -1px 0 var(--accent-black-900),
         1px -1px 0 var(--accent-black-900),
        -1px  1px 0 var(--accent-black-900),
         1px  1px 0 var(--accent-black-900); */
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    transition: transform 0.1s ease;

    &.small {
        height: 30px;
        width: 30px;

        .fa-regular, .fab {
            font-size: 20px;
        }
    }

    &.medium {
        height: 40px;
        width: 40px;

        .fa-regular, .fab {
            font-size: 25px;
        }
    }

    &.large {
        height: 50px;
        width: 50px;

        .fa-regular, .fab {
            font-size: 35px;
        }
    }

    &.primary {
        background-color: var(--primary-900) !important;
    }

    &.warn {
        background-color: var(--warn-900) !important;
    }

    &.accent {
        background-color: var(--accent-500) !important;
    }

    &:hover {
        transform: scale(110%);

        &.primary {
            background-color: var(--primary-700) !important;
        }

        &.warn {
            background-color: var(--warn-700) !important;
        }

        &.accent {
            background-color: var(--accent-400) !important;
        }
    }

    &:active {
        transform: scale(100%);
        border: solid 4px;

        &.primary {
            border-color: var(--primary-500) !important;
        }

        &.warn {
            border-color: var(--warn-500) !important;
        }

        &.accent {
            border-color: var(--accent-300) !important;
        }
    }
}

[appToggBtn] {
    display: inline-block;
    position: relative;
  
    width: 3.125rem;  /* Size of the toggle */
    height: 1.5625rem;  /* Height of the toggle */
    
    background-color: var(--primary-contrast-900); /* Default background color */
    border-radius: 4rem; /* Rounded edges */
  
    cursor: pointer;
    transition: background-color 0.3s;
}

[appToggBtn]:after {
    content: '';
    position: absolute;

    top: 0.125rem;  /* 2px / 16px = 0.125rem */
    left: 0.125rem; /* 2px / 16px = 0.125rem */
    width: 1.3125rem;  /* 21px / 16px = 1.3125rem */
    height: 1.3125rem; /* 21px / 16px = 1.3125rem */

    background-color: var(--primary-900);
    border-radius: 50%;
    transition: transform 0.3s;
}

[appToggBtn].toggled {
    background-color: var(--primary-contrast-900); /* Green background when toggled */
}

[appToggBtn].toggled:after {
    transform: translateX(1.5625rem); /* 25px / 16px = 1.5625rem */
}

@media (max-width: 1680px) {
    .btn-round {
        &.small {
            height: 40px;
            width: 120px;
        }
    
        &.medium {
            height: 50px;
            width: 150px;
        }
    
        &.large {
            height: 60px;
            width: 180px;
        }
    }

    .btn-icon {
        &.small {
            height: 40px;
            width: 40px;

            .fa-regular, .fab {
                font-size: 20px;
            }
        }
    
        &.medium {
            height: 50px;
            width: 50px;

            .fa-regular, .fab {
                font-size: 25px;
            }
        }
    
        &.large {
            height: 60px;
            width: 60px;

            .fa-regular, .fab {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .btn-round {
        &.small {
            height: 30px;
            width: 90px;
        }
    
        &.medium {
            height: 40px;
            width: 120px;
        }
    
        &.large {
            height: 50px;
            width: 150px;
        }
    }

    .btn-icon {
        &.small {
            height: 30px;
            width: 30px;

            .fa-regular, .fab {
                font-size: 15px;
            }
        }
    
        &.medium {
            height: 40px;
            width: 40px;

            .fa-regular, .fab {
                font-size: 20px;
            }
        }
    
        &.large {
            height: 50px;
            width: 50px;

            .fa-regular, .fab {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 800px) {
    .btn-round {
        text-transform: uppercase;

        &.small {
            height: 25px;
            width: 75px;
        }
    
        &.medium {
            height: 35px;
            width: 105px;
        }
    
        &.large {
            height: 45px;
            width: 135px;
        }
    }

    .btn-icon {
        &.small {
            height: 25px;
            width: 25px;

            .fa-regular, .fab {
                font-size: 15px;
            }
        }
    
        &.medium {
            height: 35px;
            width: 35px;

            .fa-regular, .fab {
                font-size: 20px;
            }
        }
    
        &.large {
            height: 45px;
            width: 45px;

            .fa-regular, .fab {
                font-size: 25px;
            }
        }
    }
}

/* Forms */
/* ------------------------------------------------- */

/* -- Input */
.form-contact-input {
    min-width: 300px;
    height: 32px;

    border-radius: 8px;
    border: solid 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border-color: var(--primary-900);

    background-color: var(--accent-800);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--accent-900);
    }
}

.form-contact-area {
    min-width: 300px;
    height: 64px;

    border-radius: 8px;
    border: solid 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border-color: var(--primary-900);

    background-color: var(--accent-800);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--accent-900);
    }
}

/* Select */

.select-primary {
    min-width: 300px;
    height: 32px;

    border-radius: 8px;
    border: solid 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border-color: var(--primary-900);

    background-color: var(--accent-800);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--accent-900);
    }
}

option {
    padding: 4px;
}